@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shizuru&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #232529;
    color:white; 
    font-family: 'Roboto', sans-serif;
}

:root{
    --css-warning: rgb(214, 102, 102);
}

.container__main{
    margin:50px auto;
    width: 540px;
    display:flex;
    justify-content: center; 
    flex-direction: column;
    padding: 20px;
}

.to__do-text{
    margin-bottom: 5px;
    color:#3c763d;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size:30px;
    font-family: 'Shizuru', cursive;
}

.to-do__task:hover{
    background-color: #3f434b;
    color: #5cb15f;
    cursor: pointer;
}

.container{
    background-color: white;
    width: 500px;
    min-height: 100px;
    padding: 10px;
    border: 2px solid #3c763d;
    border-radius:4px;
}

.inner__form{
    /* background-color: grey; */
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.onput__place{
    width: 415px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

.submit{
    height: 40px;
    cursor: pointer;
    float:right;
}

.empty::placeholder {
    color:var(--css-warning);
}

.to-do__task{
    padding: 15px;
    border: 1px solid #080808;
    border-radius: 4px;
    color: #3c763d;
    background-color: #232529;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}

.close{
    cursor:pointer;
    float:right;
}

.todo__content{
    margin-top:10px ;
}